uploads/profils/DALL·E 2025-02-10 11.59.07 - A clean and minimalist logo for 'CampSwing', a camping application. The design should feature a simple and modern tent icon with subtle tree elements,.webp
uploads/profils/logo.webp
